<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Drupal 8 Security - July 17, 2015</title>

    <meta name="description" content="Drupal 8.0.x Security Improvements">
    <meta name="author" content="Peter Wolanin">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/midcamp-color.css" id="theme">
    <link rel="stylesheet" href="css/lets-learn-git.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">
      <div class="footer">
        <div class="branding--logo" style="position: absolute; bottom: 0em; z-index: 20;">
          <span class="logo__image">
            <img src="images/acquia_logo_grey_medium.png" alt="Acquia gray logo" height="55px" />
          </span>
          <p class="logo__site-name">#acquia</p>
        </div>
        <div class="session--info"  style="position: absolute; bottom: 0em; z-index: 20;">
          <p class="session__title">
            Drupal 8 Security Improvements
            <span class="seperator">&nbsp;/&nbsp;</span>
          </p>
          <p class="session__presenter">
            Peter Wolanin
          </p>
        </div>
      </div>

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Drupal 8.0.x Security Improvements</h1>
          <h2>July 17, 2015</h2>
          <h2>Drupal Security and Privacy Summit</h2>
        </section>

        <section data-background="images/backgrounds/16968083219_34589346e4_o.jpg">
          <div class="about-me">
          <h1>Peter Wolanin</h1>
            <h6>Acquia Engineering & Drupal Security Team</h6>
            <h1>pwolanin</h1>
            <p class="photo-credit">
              Photo by <a href="https://www.flickr.com/photos/amazeelabs/16968083219/in/set-72157651561042300">amazeelabs</a>, <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">by-nc-sa</a>
            </p>
            </div>
            </section>


        <section>
          <section>
          <div class="text-bg">
            <h1>Twig as template engine</h1>
              <ul>
                <li>New theme template system instead of phptemplate</li>
                <li>http://twig.sensiolabs.org/</li>
                <li>"modern", OO-based approach</li>
              </ul>
          </div>
          </section>
          <section>
          <div class="text-bg">
            <h1>Twig: keep the themers away from PHP</h1>
              <ul>
                <li>Templates allow looping and recursion</li>
                <li>No access to Drupal api or SQL</li>
              </ul>
          </div>
          </section>
          <section>
          <div class="text-bg">
            <h1>Twig: escaping by default</h1>
            <p>Drupal security model is inverted compared to Drupal 7. Text output in a template is escaped by default, unless it was previously escaped or marked safe</p>
            <p>see: <a href="https://www.drupal.org/node/2296163">Twig autoescape enabled. New SafeMarkup class added.</a>
          </div>
          </section>

        <section>
          <div class="text-bg">
            <h2>PHP vs Twig</h2>
              <pre><code data-trim contenteditable>
&lt;div id=&quot;&lt;?php print $block_html_id; ?&gt;&quot; class=&quot;&lt;?php print $classes; ?&gt;&quot;&lt;?php print $attributes; ?&gt;&gt;

  &lt;?php print render($title_prefix); ?&gt;
&lt;?php if ($block-&gt;subject): ?&gt;
  &lt;h2&lt;?php print $title_attributes; ?&gt;&gt;&lt;?php print $block-&gt;subject ?&gt;&lt;/h2&gt;
&lt;?php endif;?&gt;
  &lt;?php print render($title_suffix); ?&gt;

  &lt;div class=&quot;content&quot;&lt;?php print $content_attributes; ?&gt;&gt;
    &lt;?php print $content ?&gt;
  &lt;/div&gt;
&lt;/div&gt;
              </code></pre>

          </div>
        </section>

        <section>
          <div class="text-bg">
            <h2>PHP vs Twig</h2>
              <pre><code data-trim contenteditable>
&lt;div{{ attributes }}&gt;
  {{ title_prefix }}
  {% if label %}
    &lt;h2{{ title_attributes }}&gt;{{ label }}&lt;/h2&gt;
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
&lt;/div&gt;
              </code></pre>
          </div>
        </section>

        </section>

        <section>
        <section>
          <div class="text-bg">
            <h1>WYSIWYG in core</h1>
          </div>
	  <img src="images/editor-config.png"/>
        </section>
        <section>
          <div class="text-bg">
            <h1>WYSIWYG in core</h1>
          </div>
	  <img src="images/allowd-tags.png"/>
        </section>
        </section>

        <section>
          <div class="text-bg">
            <h1>PHP module removed from core</h1>
              <ul>
                <li>Encourages proper code management</li>
                <li>Removes risk of exposure to anonymous (yes I've seen it in the wild)</li>
                <li>Reduces the impact of admin accounts being compromosed</li>
              </ul>
          </div>
        </section>

        <section>
          <div class="text-bg">
            <h1>CSRF token management in the routing system</h1>
            <p>Routes can specify token protection for GET requests, instead of requiring hand coded protection using API functions.</p>
          </div>
        </section>

        <section>
          <div class="text-bg">
            <h1>Trusted Host Configuration in settings.php</h1>
            <p>Easier way to block unexpected host names accessing Drupal (phishing, cache poisoining, etc).</p>
          </div>
        </section>

        <section>
          <div class="text-bg">
            <h1>Limit PDO MySQL to executing single statements if PHP supports it</h1>
            <p>Requires PHP 5.5.21+ or 5.6.5+ for PDO MySQL change. <a href="https://www.drupal.org/node/2388255">7.x backport</a></p>
          </div>
        </section>

        <section>
          <div class="text-bg">
            <h1>Remove mixed SSL support from core</h1>
              <p>Support for sessions that work both SSL and non-SSL (Secure Pages) <a href="https://www.drupal.org/node/2384903">removed</a>. Encourages full SSL.</p>
              <p>Will have to replace the session handling service if you really need this.</p> 
          </div>
        </section>

        <section>
          <div class="text-bg">
            <h1>Inline JS removed from #attached</h1>
            <p>Adding inlone JS is no longer a supported part of the render system</p>
            <p>Converted drupalSettings from JavaScript to JSON, to allow for CSP in the future. <a href="https://www.drupal.org/node/2510104">7.x backport</a></p>
          </div>
        </section>


        <section>
          <div class="text-bg">
            <h1>Improved security of session ID against DB exposure or SQL injection</h1>
            <p>Hash session IDs in the database so the raw cookie value can't be exposed.  <a href="https://www.drupal.org/node/2164025">7.x backport</a></p>
          </div>
        </section>


        <section>
          <div class="text-bg">
            <h2>Some pending Drupal 8 patches (help needed)</h2>
              <ul>
                <li><a href="https://www.drupal.org/node/2489672">Limit all DB drivers to executing single statements by checking for deleimiter</a></li>
                <li><a href="https://www.drupal.org/node/144538">User logout is vulnerable to CSRF</a></li>
                <li><a href="https://www.drupal.org/node/2234243">Include defenses against BREACH and other TLS attacks in Drupal core</a></li>
              </ul>
          </div>
        </section>



        <section>
          <div class="text-bg">
            <h2>Sources and Resources</h2>
            <ul>
            <li><a href="http://opensource.com/business/15/5/interview-Greg-Knaddison-Michael-Hess-Drupal">greggles and mlhess interview on opensource.com</a></li>
            <li><a href="https://events.drupal.org/losangeles2015/sessions/building-secure-sites-drupal">greggles and mlhess Drupalcon LA preso</a></li>
            <li><a href="https://www.drupal.org/node/1992030">Protecting against HTTP HOST Header attacks</a></li>
            <li><a href="https://www.drupal.org/drupal8-security-bounty">Drupal 8 security Bug Bounty</a></li>
            <li><a href="https://www.drupal.org/project/issues/search/drupal?project_issue_followers=&issue_tags_op=%3D&issue_tags=D8+Security+Bounty">D8 Security Bug Bounty Issues</a></li>
            </ul>
          </div>
        </section>
        <section>
          <div class="text-bg">
            <h1>Thanks! Questions?</h1>
            <ul>
            <li>Contact me: https://www.drupal.org/user/49851/contact</li>
            </ul>
          </div>
        </section>
        </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'none', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
